.addtocartbtn_wrapper {
  border-radius: 50px;
  border: 1px solid white;
  flex: 1;
  height: 80%;
  font-weight: bolder;
  background-color: transparent;
  color:white;
  outline: none !important;
}

.addtocartbtn_wrapper2 {
  width: 60px;
  height: 80%;
  border-radius: 50px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  outline: none !important;
}
