.search_wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #333333;
  display: flex;
  align-items: center;
  transform: translateY(0%);
}

.search_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .cancel {
    flex: 1;
    display: flex;
    align-items: center;

    button {
      background-color: transparent;
      border: none;
      outline: none;
      font-weight: bold;
      color: darken($color: $header_background_color, $amount: 10);
    }
  }
  .input_div {
    display: flex;
    height: 100%;
    flex: 1;
    align-items: center;

    input {
      outline: none;
      border: none;

      padding-left: 3px;
      height: 100%;
      background-color: transparent;
      flex: 1;
    }
  }
}

.openSearch {
  animation: openingSearch 0.2s ease-in forwards;
}

.closeSearch {
  animation: closingSearch 0.2s ease-in forwards;
}

@keyframes openingSearch {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-50%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes closingSearch {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-50%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.search_comp {
  transform: translateY(-100%);
}
